/* frontend/src/App.css */

body {
  font-family: Arial, sans-serif;
}

form {
  margin-bottom: 20px;
}

input, button {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
}

canvas {
  max-width: 600px;
  max-height: 400px;
}